<div class="flex flex-row justify-between gap-4 w-[800px] p-5 mx-auto my-4">
  <app-card
    *ngFor="let post of Posts"
    [title]="post.title"
    [image]="post.image"
    [author]="post.author"
    [description]="post.description"
  ></app-card>
  <!-- <app-card
    [title]="Posts[0].title"
    [image]="Posts[0].image"
    [author]="Posts[0].author"
    [description]="Posts[0].description"
  ></app-card>
  <app-card
    [title]="Posts[1].title"
    [image]="Posts[1].image"
    [author]="Posts[1].author"
    [description]="Posts[1].description"
  ></app-card>
  <app-card
    [title]="Posts[2].title"
    [image]="Posts[2].image"
    [author]="Posts[2].author"
    [description]="Posts[2].description"
  ></app-card> -->
</div>
